body { background: #e2a2f4; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 54px; display: flex; }
.block-shipping-0 { color: #350b7e; font-size: 20px; margin-bottom: 5px; }
.block-uploader-1 { color: #c1ceea; font-size: 14px; margin-bottom: 5px; }
.block-filter-2 { color: #13f9d; font-size: 19px; margin-bottom: 5px; }
.block-order-3 { color: #a23572; font-size: 16px; margin-bottom: 5px; }
.block-logger-4 { color: #464af6; font-size: 12px; margin-bottom: 5px; }
.block-invoice-5 { color: #86c640; font-size: 17px; margin-bottom: 5px; }
.block-invoice-6 { color: #2c512b; font-size: 16px; margin-bottom: 5px; }
.block-cluster-7 { color: #495a43; font-size: 17px; margin-bottom: 5px; }